.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem 2rem;

  display: flex;
  flex-direction: column;
  height: 100vh;

  @media (max-width: 900px) {
    height: 100%;
  }
}

.container section {
  flex: 1;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  align-items: center;

  @media (max-width: 900px) {
    display: block;
  }

  @media (max-width: 460px) {
    display: block;
    gap: 15px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
